.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 30vh auto;  
  }
  .form-div {
    z-index: 1;
  }
  .form-div, .button-div {
    transition: .5s ease-out;
  }
  form {
    border: 1px solid lightgray;
    border-radius: 15px;  
    display: flex;
    flex-direction: column;
    /* background-color:white; */
  }
  input, button {
    margin: 15px;
    /* width: 150px; */
  }
  .buttonText{
    color: rgba(0, 0,0, 0.7);
    border-bottom: 3px solid lightblue;

  }

  input[type="text"],input[type="password"],textarea,select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    /* background-color: #fff; */
    background-color:rgba(0, 0,0, 0.7);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
  p{
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
    border: 1px solid #2BCC9E;
    outline: 0; }
  
  /*BUTTON STYLING*/
  .button,button,input[type="submit"],input[type="reset"],input[type="button"] {
    display: inline-block;
    height: 38px;
    width: 200px;
    padding: 0 30px;
    color: #555;
    font-weight: bold;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #bbb;
    cursor: pointer;
    background-color: lightblue;
    box-sizing: border-box; }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    /* background-color: #2BCC9E; */
    background-color:lightblue; 
    /* border-color: #2BCC9E;  */
  }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #3FB594;
    border-color: #3FB594; }