/* .rw-wrapper {
    width: 80%;
    position: relative;
    margin: 110px auto 0 auto;
    font-family: 'Bree Serif';
    padding: 10px;
    align-items: center;
  } */

  .rw-wrapper {
    width: 80%;
    /* position:absolute; */
    /* margin: 110px auto 0 auto; */
    font-family: 'Bree Serif';
    /* padding: 10px; */
    /* align-items:center; */
    margin-right: 1600px;
    margin-top: -200px;
  }

  /* class="rw-wrapper">

        <div class="rw-words rw-words-1"> */

  .spanStyle{
      font-size: 35px;
      color: black;
      border-bottom: 1px solid lightblue;
  }
  .spanStyle2{
    color: lightblue;
    font-size: 5rem;
    font-family: Nunito;
    font-weight: bold;
  }
  
  .rw-words {
    display: inline;
    text-indent: 10px;
  }
  
  .rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: lightblue;
    font-weight: bold;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
  }
  
  .rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    color: black;
    font-weight: bold;
  }
  
  .rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
    color:white;
    font-weight: bold;
  }
  
  .rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    color:gray;
    font-weight: bold;
  }
  
  .rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
    color: lightblue;
    font-weight: bold;
  }
  
  .rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
    color: lightslategray;
    font-weight: bold;
  }
  
  @-webkit-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-ms-keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -ms-transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -ms-transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rotateWord {
    0% {
      opacity: 0;
    }
    2% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    5% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .rw-sentence {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .rw-sentence {
      font-size: 9px;
    }
  }